.hero {
    background: url("../img/scooter.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 32px;

    &::before {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #2F3B59;
        opacity: 0.7;
        position: absolute;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

    .hero {
        background: url("../img/scooter@2x.jpg") no-repeat center center;
    }

}

.hero__container {
    padding-top: 100px;
    padding-bottom: 152px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 10px;
        background-color: #FCB72B;
        top: 57%;
        left: -13%;
    }

    &::after {
        content: '';
        background: url("../../img/strelka.png") no-repeat center center;
        background-size: contain;
        position: absolute;
        width: 446px;
        height: 100px;
        top: 360px;
        left: 510px;
    }

}

.hero__scooter {
    width: 530px;
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    color: #fff;

}

.hero__text {
    font-size: $size;
    line-height: $olchami;
    font-weight: 400;
    width: 405px;
    margin-left: 100px;
    margin-top: -10px;
    margin-bottom: 36px;
    color: #fff;
    opacity: 0.8;
    @include font;



}

.hero__link {
    color: #fff;
    font-size: $size;
    line-height: $olchami;
    font-weight: 700;
    background-color: #FCB72B;
    padding: 14px 39px;
    margin-left: auto;

    &:hover
    {
        background: 0;
        color: #FCB72B;
        border: 1px solid #FCB72B;
    }
}

@media screen and (max-width: 1105px) {
    .hero {
        background: url("../img/scooter-tablet.jpg") no-repeat center center;
        background-size: cover;
        padding: 137px 0 217px;

  
    }

    .hero__content {
        text-align: center;

        &::before
        {
            content: '';
            position: absolute;
            width: 445px;
            height: 150px;
            background: url('../../img/strelka.png') no-repeat center center;
            right: 55%;
            top: 114%;
            background-size: contain;
        }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {

        .hero {
            background: url("../img/scooter-tablet@2x.jpg") no-repeat center center;
            background-size: cover;
            background-position: center center;
        }
    }

    .hero__scooter {
        margin: 0 auto;
        text-align: center;
        font-size: 56px;
        line-height: 56px;
        padding: 0;
    }
    .hero__text
    {   
        margin: 24px auto 32px;
        width: 573px;
        text-align: center;
        position: relative;

    
    }
    .hero__link
    {
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .hero__container
    {   
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 45px;

        &::before {
            display: none;
        }
        &::after {
          left: 0;
          top: 0;
          display: none;
          right: 100px;
          position: absolute;
          content: '';
      }
    }
}

@media screen and (max-width: 690px)
{
    .hero
    {
        background: url("../../img/scooterchi-mobile@2x.jpg") no-repeat center center;
        background-size: cover;
    }
    .hero__scooter
    {
        width: 311px;
        font-size: 40px;
        line-height: 40px;
    }
    .hero__link
    {
        margin-top: 10px;
        display: inline-block;
    }
    .hero__text
    {
        width: 311px;
    }
    .hero__content
    {
        &::before
        {
            left: -115%;
            top: 100%;
        }
    }
}