.main-link{
    text-decoration: none;
    color: #fff;
    background-color: #FCB72B;
 padding: 14px 20px; 
 margin-left: auto;
 &:hover{
     background-color: #fff;
     color:#FCB72B ;
     border: 3px solid  #FCB72B;
 }
}
@media screen and (max-width:1106px){
    .main-link{
        margin-left: 94px;
    }
}
